<main class="home p-3">
 <h1>About the Motivational Finance Tracker Team</h1>
    <p>We build the Motivational Finance Tracker App to help users manage their finances simply and confidently.</p>

    <section class="team">
      <article class="member">
        <h3>Kenthly Louise Iglesia (Developer)</h3>
        <p>2nd year college student.</p>
      </article>

      <article class="member">
        <h3>Darwin Baysa (Developer)</h3>
        <p>2nd year college student.</p>
      </article>

      <article class="member">
        <h3>John Rafeal Gonzales (Developer)</h3>
        <p>2nd year college student.</p>
      </article>
    </section>
</main>